.container img {
  width: 100%;
  height: auto;
}

  .button {
    padding: 10px 100px;
    border-radius: 30px;
  }

.button4 {
    padding: 10px 30px;
    border-radius: 10px;
    margin: 460px 870px;

    display:flex;
    align-items: center center;
    justify-content: center;
  }

.content {
  text-align:center;
}
